body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}


.container {

}

.header-title {
  
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  position: absolute;
  display: inline;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.header-title h3 {
 
}

.header-title img {
  height: 2rem;
}

.video-bg {  
}

.video-bg video {
  
  /* position: fixed;
  display: block; */
  /* right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100; */
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;

    /* left: 0; 
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    position: absolute;
    width: auto; 
    height: auto;
    z-index: -100; */
  }



.main_content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.main_content_left {
  flex: 0 0 60%;
  margin: auto;
}

.main_content_left h2 {
  /* background-color: springgreen; */
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: white;
}

.main_content_right {
  flex: 1;
}

.search-results_main {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  height: 38rem;
  flex-grow: 1;
}

.footer {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 2.5rem;
  background-color:#212121;
  color: #EF5350;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.footer img {
  height: 20px;
  
}


/* .main_content {
  padding: 20px;
  display: flex;
  height: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_content_left {
  position: absolute; 
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 50px;
  text-align: right;
  background-color: bisque;
  margin: auto;
}

.main_content_right {
  position: absolute; 
  align-self: flex-end;
  margin-left: auto;
  align-self: center;
  justify-content: center;
} */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  { 
    .main_content_left{
      font-size: 30px;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main_content_left{
      font-size: 30px;
  }
}