body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}


.container {

}


.header-title {
  
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  position: absolute;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.header-title img {
  height: 2rem;
}


.video-bg video {
  
  /* position: fixed;
  display: block; */
  /* right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100; */
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;

    /* left: 0; 
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    position: absolute;
    width: auto; 
    height: auto;
    z-index: -100; */
  }



.main_content {
  display: flex;
  height: 650px;
}

.main_content_left {
  flex: 0 0 60%;
  margin: auto;
}

.main_content_left h2 {
  /* background-color: springgreen; */
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: white;
}

.main_content_right {
  flex: 1;
}




.results-container {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  width: 100vw;
  /* height: 40rem; */
  align-content: center;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.results-container h2 {
  color: #FF1744;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  margin: 2rem;
  letter-spacing: 0.2rem;
  align-self: center;
  align-content: center;
}


.results__main--div {
  width: 90%;
  border-radius: 1rem;
  padding: 1rem;
  /* background-color: slateblue; */
  margin: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}



.results__subitem {
  display: flex;
  margin: 0;
  padding: 0.5rem;
}
.results__subitem--img {
  display: flex;
  flex: 0 0 30%;
  justify-content: center;
  align-items: center;
}
.results__subitem--img img {
  width: 5rem;
}

.results__subitem--heading {
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.55rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  color: #29B6F6;
  flex: 0 0 15%;
}

.results__subitem--body {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 3rem;
}

.results__subitem--title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FF1744;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

.results__subitem--main {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.results__subitem--price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #29B6F6;
}








/* /////////////////////////////////////////////////////////////////////
RESULTS */

.results {
  height: 25rem;
  border-radius: 1rem;
  background-color: snow;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* margin-right: 1rem; */
  border-right: 1px solid rgba(41, 182, 246, 0.17);
  align-content: center;
  justify-content: flex-end;
}

.results__main {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #37474F;
  flex: 1;
}

.results__title {
  background-color: #29B6F6;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  flex: 0 0 15%;
}

/* /////////////////////////////////////////////////////////////////////
TOTAL */

.results__total {
  width: 68.5%;
  height: 5rem;
  flex: 0 0 20%;
  border-radius: 0.65rem;
  background-color: #01579B;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.results__total--title {
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  margin-top: 0.7rem;
  flex: 0 0 30%;
}

.results__total--main {
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  margin-bottom: 0.25rem;
  flex: 1;
}




/* /////////////////////////////////////////////////////////////////////
ACCOMMODATIOn */
.results-accommodation {
  width: 80%;
  /* height: 25rem; */
  flex: 0 0 15%;
  background-color: sienna;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-end;
}

.results-accommodation__title {
  background-color: #03A9F4;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.45rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  flex: 0 0 30%;
}

.results-accommodation__main {
  
  background-color: #F5F5F5;
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #37474F;
  flex: 1;
}


.results-others {
  width: 80%;
  /* height: 30rem; */
  flex: 1;
  background-color: sienna;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: flex-end;
}

.results-others__title {
  background-color: #039BE5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  flex: 0 0 30%;
}

.results-others__main {
  background-color: #EEEEEE;
  /* justify-content: space-around; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  flex: 1;
}


.footer {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 2.5rem;
  background-color:#FFEBEE;
  color: #EF5350;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.footer img {
  height: 20px;
  
}


/* .main_content {
  padding: 20px;
  display: flex;
  height: 500px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_content_left {
  position: absolute; 
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 50px;
  text-align: right;
  background-color: bisque;
  margin: auto;
}

.main_content_right {
  position: absolute; 
  align-self: flex-end;
  margin-left: auto;
  align-self: center;
  justify-content: center;
} */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  { 
    .main_content_left{
      font-size: 30px;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main_content_left{
      font-size: 30px;
  }
}

